* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(37, 37, 37);
  color: rgb(216, 216, 216);
}

.heading {
  text-align: center;
  padding: 2vh 0;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding: 2vh 0;
}

.search-wrapper input {
  padding: 4px 16px;
}
.search-wrapper button {
  background-color: rgb(0, 211, 0);
  border-radius: 4px;
  border: 1px solid white;
  color: black;
  font-weight: bold;
  padding: 6px 16px;
  cursor: pointer;
}
